In [1]:
import sys

In [2]:
import pandas as pd

In [4]:
df = pd.read_excel('Base Training Data_Categories.xlsx')

In [5]:
df.head()

               Unnamed: 0         Unnamed: 1
0                     NaN                NaN
1              Row Labels  Count of Category
2              ACCEPTANCE                 78
3  ADDITIONAL INITIATIVES                 84
4             ANTIBRIBERY                181

In [7]:
df.shape

(89, 2)

In [8]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1'], dtype='object')

In [9]:
df_new = df[df['Unnamed: 0']!='ACCEPTANCE']

In [10]:
df_new.shape

(88, 2)

In [12]:
df_new.to_excel('edited1.xlsx')

In [13]:
df

                 Unnamed: 0         Unnamed: 1
0                       NaN                NaN
1                Row Labels  Count of Category
2                ACCEPTANCE                 78
3    ADDITIONAL INITIATIVES                 84
4               ANTIBRIBERY                181
..                      ...                ...
84  SERVICECOMMENCEMENTDATE                100
85            USELIMITATION                 56
86               COLLATERAL                486
87           EXPIRATIONDATE                 44
88              Grand Total              23560

[89 rows x 2 columns]

In [14]:
df['Unnamed: 0']="Check"

In [15]:
df

   Unnamed: 0         Unnamed: 1
0       Check                NaN
1       Check  Count of Category
2       Check                 78
3       Check                 84
4       Check                181
..        ...                ...
84      Check                100
85      Check                 56
86      Check                486
87      Check                 44
88      Check              23560

[89 rows x 2 columns]

In [16]:
df.to_excel('Base Training Data_Categories.xlsx')

In [17]:
df

   Unnamed: 0         Unnamed: 1
0       Check                NaN
1       Check  Count of Category
2       Check                 78
3       Check                 84
4       Check                181
..        ...                ...
84      Check                100
85      Check                 56
86      Check                486
87      Check                 44
88      Check              23560

[89 rows x 2 columns]